@media all and (min-width: 480px) {
  .quiz {
    padding: 40px 0;
  }
}

.btn-group-vertical {
  max-width: 50%;
}

div .incorrect {
  background-color: lightcoral;
}

div .correct {
  background-color: lightgreen;
}
