.navbar-brand {
  font-weight: bold;
 }

 /*@keyframes fadeInMenuItemKey{
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
  }
.fadeInMenuItem{
  animation-name: fadeInMenuItemKey;  
  animation-duration: 200ms;
}*/