@media all and (min-width: 480px) {
  .quiz {
    padding: 40px 0;
  }
}
.bottom-buttons {
  padding-top: 20px;
}

.case-tool-button {
  margin-bottom: 10px;
}
.footer-navigation-buttons > .btn {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  float: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.btn:focus {
  border-color: #ccc;
  outline: none !important;
  outline-offset: none !important;
}

h1:not(.firebaseui-title) {
  font-size: 4vw !important;
}
h3 {
  font-size: 3.5vw !important;
  text-align: center;
}
h4 {
  font-size: 3vw !important;
}
p:not(.firebaseui-error .firebaseui-info-bar) {
  font-size: 2.5vw !important;
}

.btn {
  font-size: 3vw !important;
}
.btn-group-vertical {
  max-width: 50%;
}

@keyframes showScore {
  0% {
    opacity: 0;
    font-size: 0;
    top: 40%;
  }
  70% {
    opacity: 0.8;
    font-size: 70px;
    top: 70%;
  }
  100% {
    opacity: 0;
    font-size: 290px;
    top: 80%;
  }
}
.w::before {
  content: "WRONG";
  color: red;
  position: fixed;
  z-index: 1500;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  animation-name: showScore;
  animation-duration: 0.9s;
}
.r::before {
  content: "RIGHT";
  color: green;
  position: fixed;
  z-index: 1500;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  animation-name: showScore;
  animation-duration: 0.9s;
}
