body {
  background-color: #f7f7f6;
}

.app {
  padding-right: auto;
  padding-left: auto;
  /*font-family: "PT Serif", serif;*/
  /*font-family: "PT Serif", serif;*/
  font-size: 16px;
  color: #42506b;
  text-align: center;
}

.noNavBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.btn {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  /*border-radius: 24px;*/
  background-color: #fccf4d;
  border: 0 none;
  color: #42506b;
}

.btn:hover {
  background-color: #3cc;
  color: white;
}

/*/////////// NavBar /////////////////////*/

.navbar {
  z-index: 1000;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #42506b;
  color: white;
}

.navbar ul > a {
  font-size: 2rem;
}

.navbar ul > a:first-child {
  padding-top: 5%;
}

.menu-filler {
  height: 80vh;
}

/*/////////// landing page ////////////////*/
.home h1 {
  font-weight: 600;
  color: #3cc;
}
.home h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.home-logo {
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 60%;
  max-width: 500px;
}

/*/////////// faqs page ////////////////*/
.faqs {
  height: 100vh;
  padding: 30px;
  color: white;
  background-color: #42506b;
}
.faqs h1 {
  color: #fccf4d;
}

/*/////////// quiz page ////////////////*/
.quiz {
  height: 100vh;
  padding: 30px;
  color: white;
  background-color: #42506b;
}
.quiz h1 {
  color: #fccf4d;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*/////////// section 1 ////////////////*/
.case-tool-button-group {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  max-height: 30vh;
}

/*.case-tool-button {
  margin-bottom: 10px;
  border-radius: 24px;
  background-color: #3cc;
  border: 0 none;
  color: white;
}*/

/*background-color: #fccf4d;
border: 0 none;
color: #42506b;
}

.btn:hover {
background-color: #3cc;
color: white;*/

/*.case-tool-button:hover,
.case-tool-button:focus {
  background-color: #fccf4d;
  color: #42506b;
}*/

.section1-title > h3 {
  font-size: 1.3rem;
  height: 30vh;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  vertical-align: middle;
  display: table-cell;
}

.section1 .input {
  min-height: 50vh;
}

.bottom-button {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 24px;
  margin-bottom: 10px;
  background-color: #42506b;
  border: 0 none;
  color: white;
}

.bottom-button:hover {
  background-color: #2c3952;
  color: #fccf4d;
}

.bottom-button:disabled,
.bottom-button:active {
  opacity: 0.5;
}

/*///////////////advice, weak and letter////////////*/
.advice,
.letter,
.weak {
  padding-left: 5vw;
  padding-right: 5vw;
}

.messageTitle,
.messageBody {
  width: 60vw;
  margin: 10px;
}

.contact-btn {
  width: 60vw;
}
/*///////////////////animations etc//////////////////////*/
.show {
  display: block;
}

.hide {
  display: none;
}

.btn:focus {
  border-color: #ccc;
  outline: none !important;
  outline-offset: none !important;
}

@keyframes fadeInKey {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeInKey;
  animation-duration: 1000ms;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}*/
/*
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}



.opacityZero {
  opacity: 0;
}
.displayNone {
  display: none;
}

@media all and (min-width: 480px) {
  .quiz {
    padding: 40px 0;
  }
}





h1:not(.firebaseui-title) {
  font-size: 3vw !important;
}

h4 {
  font-size: 2vw !important;
}
p:not(.firebaseui-error) {
  font-size: 1.5vw !important;
}
p:not(.firebaseui-info-bar) {
  font-size: 1.5vw !important;
}
.btn {
  font-size: 2vw !important;
}

@media all and (min-width: 480px) {
  .faqs {
    padding: 40px 0;
  }
}
.faqs h1 {
  font-weight: 600;
}
.faqs p {
  padding-left: 20%;
  padding-right: 20%;
  color: #999;
}

.navbar-brand {
  font-weight: bold;
}

/*@keyframes fadeInMenuItemKey{
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
  }
.fadeInMenuItem{
  animation-name: fadeInMenuItemKey;
  animation-duration: 200ms;
}*/
