html {
  touch-action: manipulation;
}
body {
  font-family: "Quicksand" !important;
}

/*buttons*/
.btn {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  white-space: normal !important;
  border-radius: 24px;
}

.btn:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  outline-offset: none !important;
  /*background-color: #3cc; removed as buttons click through
  color: white;*/
}

.btn:hover {
  background-color: #3cc;
  color: white;
}
.btn-get-started {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 10vw;
  border-radius: 10vw;
  line-height: 15vw;
}

@media only screen and (max-width: 500px) {
  .btn-get-started {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 2rem;
    border-radius: 30px;
    line-height: 3rem;
    min-width: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .btn-get-started {
    padding-left: 7%;
    padding-right: 7%;
    font-size: 4vw;
    border-radius: 10vw;
    line-height: 8vw;
  }
}
@media only screen and (min-width: 1200px) {
  .btn-get-started {
    padding-left: 7%;
    padding-right: 7%;
    font-size: 4vw;
    border-radius: 10vw;
    line-height: 7vw;
  }
}
@media only screen and (min-width: 1350px) {
  .btn-get-started {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
    border-radius: 10vw;
    line-height: 5vw;
  }
}
/*btn-home-why-use-litem*/
.btn-home-why-use-litem {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5vw;
  border-radius: 10vw;
  width: 80%;
  max-width: 700px;
}
@media only screen and (min-width: 900px) {
  .btn-home-why-use-litem {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.4rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .btn-home-why-use-litem {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
    height: 5rem;
    min-width: 350px;
  }
}
.contact-btn {
  width: 60vw;
  font-size: 1.2rem;
  height: 3rem;
}
/*btn-tool-hub*/
.btn-tool-hub-group {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.btn-tool-hub {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5vw;
  border-radius: 10vw;
  width: 80%;
  max-width: 700px;
}
@media only screen and (min-width: 850px) {
  .btn-tool-hub {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.3rem;
    height: 3rem;
  }
}

/*bottom-btns*/
/*.bottom-button-group-container {
  background-color: #2c3952 !important;
}*/
/*.bottom-button-group {
  margin-left: auto;
  margin-right: auto;
}*/
/*.bottom-button {
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 1.5vw;
  width: 220px;
}*/
/*div .bottom-button-group.col-12 {
  /*width: 100vw !important;
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: fixed !important;
  bottom: 30px;
  left: 0 !important;
}*/
.bottom-button-group-container {
  background-color: #2c3952 !important;
  width: 100vw;
  position: fixed;
  height: 8vw;
  min-height: 60px;
  max-height: 80px;
  bottom: 0;
  left: 0;
}
.bottom-button-group {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 700px) {
  .bottom-button-group {
    width: 100vw;
  }
  .bottom-button {
    width: 40vw;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 700px) {
  .bottom-button-group {
    width: 80vw;
  }
  .bottom-button {
    width: 37vw;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1100px) {
  .bottom-button-group {
    width: 60vw;
  }
  .bottom-button {
    width: 27vw;
    font-size: 1.7rem;
  }
}

.bottom-button:focus {
  background-color: #fccf4d;
  color: #2c3952;
}

/*case-tool-buttons*/
.case-tool-button-group {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  max-height: 30vh;
}
/*.case-tool-button-group {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}*/
.case-tool-button {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5vw;
  border-radius: 10vw;
  width: 80%;
  max-width: 700px;
}
@media only screen and (min-width: 850px) {
  .case-tool-button {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.3rem;
    height: 3rem;
  }
}

/*.dropdown-toggle {
  width: 80%;
  max-width: 600px;
  height: 50px;
  min-width: 260px;
}

.dropdown-menu .dropdown-item {
  width: 80%;
  max-width: 600px;
  min-width: 260px;
}*/

.app {
  padding-right: auto;
  padding-left: auto;
  text-align: center;
}

.noNavBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

/*/////////// NavBar /////////////////////*/
.navbar {
  z-index: 1000;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #42506b;
  color: white;
}
.navbar ul > a {
  font-size: 2rem;
}
.navbar ul > a:first-child {
  padding-top: 5%;
}
.menu-filler {
  height: 80vh;
}

/*/////////// home-landing page ////////////////*/
.home-landing {
  padding-bottom: 80px;
  min-height: 100vh;
}
.home-landing-logo {
  padding-top: 10%;
  padding-bottom: 9%;
  width: 60%;
  max-width: 500px;
  min-width: 200px;
}

.home-landing h3 {
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .home-landing h3 {
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .home-landing h3 {
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1500px) {
  .home-landing h3 {
    padding-bottom: 6%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3rem;
  }
}
/*home-why-use-litem*/
.home-why-use-litem {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
  /*color: white;
  background-color: #42506b;*/
}

.home-why-use-litem h1 {
  /*color: #fccf4d;*/
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.home-why-use-litem h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  max-width: 300px;
  font-size: 1.5rem;
}
.home-why-use-litem-imgs {
  padding-top: 50px;
  width: 9%;
  max-width: 200px;
  min-width: 75px;
}

@media only screen and (max-width: 600px) {
  .home-why-use-litem h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) {
  .home-why-use-litem h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .home-why-use-litem h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  .home-why-use-litem h3 {
    font-size: 1.5rem;
  }
}

/*home-our-process*/
.home-our-process {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
}

.home-our-process h1 {
  /*color: #2c3952;*/
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.hhome-our-process h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  max-width: 300px;
  font-size: 1.5rem;
}
.home-our-process-imgs-container {
  padding: 20px;
}
.home-our-process-imgs {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 15%;
  max-width: 200px;
  min-width: 50px;
}

@media only screen and (max-width: 600px) {
  .home-our-process h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) {
  .home-our-process h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .home-our-process h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  .home-our-process h3 {
    font-size: 1.5rem;
  }
}

footer {
  text-align: left;
  background-color: #2c3952;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
}

footer p {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .tsandcs,
  .copyright {
    text-align: center;
  }
}

/*/////////// faqs page ////////////////*/
.faqs {
  min-height: 100vh;
  padding: 30px;
  /*color: white;
  background-color: #42506b;*/
}
.faqs h1 {
  /*color: #fccf4d;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.faqs p {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.1rem;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .faqs h3 {
    padding-left: 0;
    text-align: center;
    font-size: 1.3rem;
  }
  .faqs p {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
    text-align: justify;
  }
}

/*/////////// tool-hub ////////////////*/
.tool-hub {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
  color: white;
  background-color: #42506b;
}

.tool-hub h1 {
  color: #fccf4d;
  padding-top: 0;
  padding-bottom: 20px;
}

.tool-hub h3 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  max-width: 300px;
  font-size: 1.5rem;
}

.tool-hub p {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.1rem;
  text-align: justify;
  max-width: 1100px;
}

@media only screen and (max-width: 600px) {
  .tool-hub p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .tool-hub h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 600px) {
  .tool-hub p {
    padding-left: 10%;
    padding-right: 10%;
  }

  .tool-hub h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .tool-hub h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  .tool-hub h3 {
    font-size: 1.5rem;
  }
}

/*contact form*/
.contact {
  min-height: 95vh;
  width: 100vw !important;
  padding-top: 60px;
  padding-bottom: 60px;
  /*color: white;
  background-color: #42506b;*/
}

.contact h1 {
  /*color: #fccf4d;*/
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact h3 {
  /*color: white;*/
  margin-left: auto;
  margin-right: auto;
  /*text-align: justify;*/
  width: 70vw;
  max-width: 700px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.message-title,
.message-body {
  width: 80vw;
  margin: 10px;
}
.message-body {
  min-height: 400px;
}

/*/////////// section 1 ////////////////*/
.section1-title > h3 {
  font-size: 1.3rem;
  height: 15vh;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  vertical-align: middle;
  display: table-cell;
}

.section1 .input {
  min-height: 50vh;
}

/*form {
  display: inline-block;
}*/

/*.section1 > div {
  padding-top: 10%;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}*/

/*///////////////advice, weak and letter////////////*/
.letter,
.weak {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 50px;
  padding-bottom: 100px;
}

.weak,
.section1-title > p {
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.1rem;
  text-align: justify;
}

@media only screen and (max-width: 500px) {
  .weak .section1-title > p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1rem;
    text-align: left;
  }
}

/*div .container {
  width: 100vw !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}*/

/*advice*/
/*.advice div {
  padding-top: 20px;
  padding-left: 0 !important;
}*/

.advice h4 {
  padding-top: 30px;
  padding-bottom: 30px;
}
/**accordion**/
.accordion-item {
  margin-left: auto;
  margin-right: auto;
  min-width: 260px;
  max-width: 650px;
}
/*///////////////////animations etc//////////////////////*/
.show {
  display: block;
}

.hide {
  display: none;
}

@keyframes fadeInKey {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeInKey;
  animation-duration: 1000ms;
}

@keyframes turnIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
span.oi.oi-chevron-right.closed {
  transform: rotate(0deg);
}
span.oi.oi-chevron-right.opened {
  transform: rotate(90deg);
}
span.oi.oi-chevron-right.opening {
  animation-name: turnIcon;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
span.oi.oi-chevron-right.closing {
  animation-name: turnIcon;
  animation-duration: 1000ms;
  animation-direction: reverse;
  animation-fill-mode: backwards;
}

/*.accordion-item > div {
  position: relative;
}*/
.oi-chevron-right {
  /*position: absolute;
  right: 20px;
  top: 10px;*/
  font-size: 1.5rem;
  margin-right: 15px;
  margin-top: 0.6rem;
}

/*pre-tools*/
.pre-tool {
  color: white;
  background-color: #42506b;
  padding-bottom: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}
.pre-tool p {
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  font-size: 1.2rem;
}

.pre-tool h3 {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.5rem;
}

.pre-tool h1 {
  color: #fccf4d;
  padding-top: 10px;
  padding-bottom: 20px;
}

.pre-tool ul,
.pre-tool li {
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  font-size: 1.2rem;
}

/*guides*/
/*pre-tools*/
.guides {
  color: white;
  background-color: #42506b;
  padding-bottom: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}
.guides p {
  text-align: justify;
  font-size: 1.2rem;
}

.guides h3 {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.5rem;
}

.guides h1 {
  color: #fccf4d;
  padding-top: 10px;
  padding-bottom: 20px;
}

.guides ul,
.guides li {
  text-align: justify;
  font-size: 1.2rem;
}

/*text input*/
input[type="text"]:not(#cFullName):not(#cAddress):not(#iDate):not(#dFullName):not(#dPolicyNumber) {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
}
input[type="email"] {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
}

/*financial-inputs*/
label {
  font-size: 1.2rem;
}

.financial-inputs {
  padding-right: 30%;
  text-align: right;
}

/*make a span into a non-anchor link*/
.span-link {
  color: #3cc;
}
.span-link:hover {
  color: #fccf4d;
  cursor: pointer;
  text-decoration: underline;
}
.p-link:hover {
  color: #fccf4d;
  cursor: pointer;
  text-decoration: underline;
}
.lightbox-btn:hover {
  cursor: pointer;
}

@media print {
  div.bottom-button-group-container,
  nav {
    display: none;
  }
  * {
    color: black;
  }
  .section1,
  .letter {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
